<!-- <p>agregar-usuarios works!</p> -->
<div class="container mt-5">
    <form [formGroup]="formularioUsuario" action="">
        <div class="row"></div>
                <div class="form-group">
                    <label for="">Nombre</label>
                    <input type="text" class="form-control" placeholder="Introduzca su nombre. ">
                </div>
                <br>
                <div class="form-group">
                    <label for="">Apellido</label>
                    <input type="text" class="form-control" placeholder="Introduzca su apellido. ">
                </div>
                <br>
                <div class="form-group">
                    <label for="">Telefono</label>
                    <input type="text" class="form-control" placeholder="Introduzca su apellido. ">
                </div>
                <br>
                <div class="form-group">
                    <label for="">Clave Interbancaria</label>
                    <input type="text" class="form-control" placeholder="Introduzca su numero de cuenta bancaria. ">
                </div>
                <br>
                <div class="form-group">
                    <label for="">CVC</label>
                    <input type="text" class="form-control" placeholder="Introduzca el CVC. ">
                </div>
                <br>
                <div class="form-group">
                    <label for="">Correo</label>
                    <input type="email" class="form-control" placeholder="Introduzca su correo. ">
                </div>
                <br>
                <div class="form-group">
                    <label for="">Contraseña</label>
                    <input type="password" class="form-control" placeholder="Introduzca su contraseña. ">
                </div>
                <br>
                <button class="btn btn-primary">Registrarse</button>
    </form>
</div>

