#Co
{
    margin-left: 28%;
    position: fixed;
}

#l
{
    margin-right: 2%;
    margin-left: 2%;
}

.menu{
    width: 1499px;
    height: 70px;
    text-align: left;
    background-color:#215564;
}
