<br><br>

<div id="Co" class="container mt-5 card border-dark">
    <div class=" mb-5 text-center" style="width: 80rem; height: 37rem;"><br>
        <h3>Crear reservación</h3>
        <div>
            <br>
            <div id="datos" class="card border-gray" >
                <div>
                    <div style="text-align: center; border-radius: 5px; "><br>
                        <strong style="font-size:18px;">{{muni}}, {{esta}}</strong>
                    </div><br>
                    <div class="text-center" *ngIf="estrellas==5">
                        <img class="estrellas" src="./assets/Estrellas5.jpeg">
                      </div>
                      <div class="text-center" *ngIf="estrellas==4">
                        <img class="estrellas" src="./assets/Estrellas4.jpeg">
                      </div>
                      <div class="text-center" *ngIf="estrellas==3">
                        <img class="estrellas" src="./assets/Estrellas3.jpeg">
                      </div>
                      <div class="text-center" *ngIf="estrellas==2">
                        <img class="estrellas" src="./assets/Estrellas2.jpeg">
                      </div>
                      <div class="text-center" *ngIf="estrellas==1">
                        <img class="estrellas" src="./assets/Estrellas1.jpeg">
                      </div>
                      <div style="margin-top:4px; float:right; margin-right:21px; color:gray;">3 evaluaciones</div>
                    </div>
                <div style="border-radius:8px;">
                <div>
                    <img style="float:left; width:300px; margin-left:18px;" src="{{im}}">
                    <img style="float:left; width:300px; height:188px; margin-left:5px;" src="{{im2}}">
                </div> 
                </div><br>
                <div style="display: block; text-align:left; margin-left:25px;">
                    <div><strong>Ubicación:</strong> {{ubi}}</div>
                    <div><strong>Descripción:</strong> {{descripcion}}</div>
                    <div><strong>Cuartos: </strong> {{cuart}}</div>
                    <div><strong>Costo: </strong>${{cost}}</div>
                    <div style="color: gray; float:right; margin-right:10px;"><strong style="color: gray;">Propietario: </strong>{{due}}</div>
                </div>
                </div>
            <form id="form"  [formGroup]="formularioReserva" action="">
                <div class="row"></div>
                <div class="form-group">
                    <label for="">Numero de tarjeta o cuenta bancaria</label>
                    <input type="number" class="form-control border-dark" formControlName="Cuentabancaria"
                        placeholder="Introduzca su numero de cuenta o tarjeta. ">
                    <!--Validaciones de los campos-->
                    <div *ngIf="formularioReserva.controls['Cuentabancaria'].invalid && formularioReserva.controls['Cuentabancaria'].dirty"
                        role="alert" class="alert alert-danger">
                        <span *ngIf="formularioReserva.controls['Cuentabancaria'].errors.required">Se requiere su Clave
                            Interbancaria. </span>
                    </div>
                </div>
                <br>
                <div class="form-group">
                    <label for="">CVC</label>
                    <input type="number" class="form-control border-dark" formControlName="CVC"
                        placeholder="Introduzca el CVC. ">
                    <!--Validaciones de los campos-->
                    <div *ngIf="formularioReserva.controls['CVC'].invalid && formularioReserva.controls['CVC'].dirty"
                        role="alert" class="alert alert-danger">
                        <span *ngIf="formularioReserva.controls['CVC'].errors.required">Se requiere su CVC. </span>
                    </div>
                </div>
                <br>
                <div class="form-group">
                    <label for="">Correo</label>
                    <input type="email" class="form-control border-dark" formControlName="Correo"
                        placeholder="Introduzca su correo. ">
                    <!--Validaciones de los campos-->
                    <div *ngIf="formularioReserva.controls['Correo'].invalid && formularioReserva.controls['Correo'].dirty"
                        role="alert" class="alert alert-danger">
                        <span *ngIf="formularioReserva.controls['Correo'].errors.required">Se requiere su correo
                            electronico. </span>
                        <span *ngIf="formularioReserva.controls['Correo'].errors.email">Su correo electronico no es
                            valido. </span>
                    </div>
                </div>
                <br>
                <div class="form-group">
                    <label for="">Fecha de entrada</label>
                    <input type="date" class="form-control border-dark" formControlName="entrada"
                        placeholder="dd/mm/aaaa">
                    <!--Validaciones de los campos-->
                    <div *ngIf="formularioReserva.controls['entrada'].invalid && formularioReserva.controls['entrada'].dirty"
                        role="alert" class="alert alert-danger">
                        <span *ngIf="formularioReserva.controls['entrada'].errors.required">Se requiere la fecha de entrada. </span>
                    </div>
                </div>
                <br>
                <div class="form-group">
                    <label for="">Fecha de salida</label>
                    <input type="date" class="form-control border-dark" formControlName="salida"
                        placeholder="dd/mm/aaaa">
                    <!--Validaciones de los campos-->
                    <div *ngIf="formularioReserva.controls['salida'].invalid && formularioReserva.controls['salida'].dirty"
                        role="alert" class="alert alert-danger">
                        <span *ngIf="formularioReserva.controls['salida'].errors.required">Se requiere la fecha de salida.</span>
                    </div>
                </div>
                <br>
                <br>
                <button id="l" type="text" class="btn btn-secondary" (click)="cancelar()">Cancelar</button>
                <button class="btn btn-primary"  [disabled] = "formularioReserva.invalid" (click)="reservar()">Reservar</button>
            </form>
        </div>
    </div>
    <div class="card border-gray">
        <div> <br>
            <div style="margin-left:18px;">
            <div style="background-color:#C1EFFC; padding:5px; text-align: left; margin-left:4px; margin-right: 19px; border-radius:5px;">
              <h6>Comentarios</h6>
            </div><br>
            <div *ngFor="let come of comentarios" style="float:left; margin-left:35px;">
              <img src="./assets/icoUsuario.png" alt="icono usuario" style="width:50px; float:left; margin-right:15px;">
              <div style="width: 520px; border-radius: 7px; margin-left:25px;" class="card border-gray"> 
              <i style="margin:7px;">{{come.Comentario}}</i>
              <i style="color: grey; text-align:right; margin:7px;">-{{come.usuario}}</i>
            </div><br>
          </div>
          </div>
        </div>
  </div><br><br>  
</div>