#Co
{
    position:relative;
    margin-left:6%;
}
.c {
    display: block;
    position: relative;	
    width: 400px;
  }
.estrellas{
    width:150px;
    height:35px;
    float:left;
}
div p{
    background-color:black;
    display: block;
    position: absolute;
    bottom: -16px;
    left: 0;
    padding: 5px;
    width: 100%;
    color:white;
  }
#datos{
    float:left;
    width: 650px;
    height:500px;
    margin-left:15px;
}
#form{
    float:left;
    margin-left:100px;
    width: 300px;
}
#l
{
    margin-right: 2%;
    margin-left: 2%;
}

.menu{
    width: 1499px;
    height: 70px;
    text-align: left;
    background-color:#215564;
}
