#co
{
    display: flex;
    justify-content: center;
}

#ed
{
    margin-left: 3%;
}

#ca
{
    margin-left: 3%;
}

#de
{
    width: 27rem;
    margin-left: 35rem;
}
#da
{
    margin-left: 16rem;
}
#im
{
    margin-right: 46%;
    margin-top: -42%;
}