.casa{
    width:400px;
    height:400px;
    padding:10px;
    margin-left:80px;
    float:left;
    margin-right: 5px;
}
.subir{
    width:120px;
    height:30px;
    float:left;
    background-color:#3FEC9B;
    font-size: 15px;
    border-radius: 5px;
    border:0px;
    margin-left: 90px;
    margin-top:6px;
}
.subir:hover{
    background-color:darkslateblue;
    color:white;
}
.estrellas{
    width:150px;
    height:35px;
    float:left;
}
.eliminar{
    width:100px;
    height:30px;
    background-color:#20D2D2;
    color:black;
    float:right;
    font-size: 15px;
    border-radius: 5px;
    border:0px;
    margin-right: 5px;
    margin-top:6px;
}
.eliminar:hover{
    background-color:darkslateblue;
    color:white;
}
.comentario{
    width:400px;
    height:30px;
    text-align:left;
    font-size: 2px;
    background-color: whitesmoke;
    border-radius:5px;
    border-color:black;
}
.rentar{
    width:100px;
    height:30px;
    background-color:#539BF6;
    color:black;
    float:right;
    font-size: 15px;
    border-radius: 5px;
    border:0px;
    margin-right: 5px;
    margin-top:6px;
}
.list{
    margin-left: 0px;
    float:left;
    height:800px;
    width:150px;
    text-align:left;
    background-color:#215564;
    color:white;
}
.enlaces{
    background-color: transparent;
    color:white;
    border:0px;
    width:150px;
    font-size:18px;
}

.busca{
    width:100px;
    height:30px;
    background-color:#3FEC9B;
    color:black;
    float:right;
    font-size: 15px;
    border-radius: 5px;
    border:0px;
    margin-right: 35px;
}
.busca:hover{
    background-color:darkslateblue;
    color:white;
}
.rentar:hover{
    background-color:darkslateblue;
    color:white;
}
.for{
    text-align:right;
    margin-right: 40px;
}
.buscador{
    margin-right: 5px;
    border-radius:10px;
    width:270px;
    border-color: grey;
}
.perfil{
    margin-top:22px;
    background-color: transparent;
    color:white;
    border:0px;
    padding:5px;
}
.menu{
    width: 1499px;
    height: 70px;
    text-align: left;
    background-color:#215564;
}
#n
{
    background-color: black;
    opacity: 70%;
}
i{
    font-size:15px;
    text-align:center;
}
.conte{
    text-align:center;
    float:left;
    padding: 0px;
    margin:0px;
}