#ini
{
    margin-left: 3%;
}

#ca
{
    margin-left: 3%;
}

#co
{
    margin-top: 10%;
    display: flex;
    justify-content: center;
}

#re
{
   margin-top: 3%;
}

#campo
{
    width: 70%;
    margin-left: 15%;
}

#fo
{
    margin-top: 8%;
}

#b
{
    text-decoration: none;
    color: white;
}