<div class="container">
  <div id="co">
    <div id="carouselExampleInterval" class="carousel slide" data-bs-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item active" data-bs-interval="3000">
          <img src="./assets/4.jpg" class="d-block" alt="..." width="100% auto" height="600">
          <div id="n" class="carousel-caption d-none d-md-block">
            <h1>Encuentra la casa de tus sueños</h1>
          </div>
        </div>
        <div class="carousel-item" data-bs-interval="3000">
          <img src="./assets/2.png" class="d-block" alt="..." width="100% auto" height="600">
          <div id="n" class="carousel-caption d-none d-md-block">
            <h1>Encuentra la casa de tus sueños</h1>
          </div>
        </div>
        <div class="carousel-item" data-bs-interval="3000">
          <img src="./assets/3.jpg" class="d-block" alt="..." width="100% auto" height="600">
          <div id="n" class="carousel-caption d-none d-md-block">
            <h1>Encuentra la casa de tus sueños</h1>
          </div>
        </div>
        <div class="carousel-item" data-bs-interval="3000">
          <img src="./assets/5.jpg" class="d-block" alt="..." width="100% auto" height="600">
          <div id="n" class="carousel-caption d-none d-md-block">
            <h1>Encuentra la casa de tus sueños</h1>
          </div>
        </div>
        <div class="carousel-item" data-bs-interval="3000">
          <img src="./assets/6.jpg" class="d-block" alt="..." width="100% auto" height="600">
          <div id="n" class="carousel-caption d-none d-md-block">
            <h1>Encuentra la casa de tus sueños</h1>
          </div>
        </div>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleInterval"
        data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleInterval"
        data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
  </div>
</div>

<footer id="fo" class="bg-dark text-white">
  <div class="container">
      <div class="row row-cols-3">
        <div class="col">
            Contacta con nosotros.
            <br> <br>
            Celular: 5637091836.
            <br><br>
            Correo: roof&home@gmail.com
        </div>
        <div class="col">
            Siguenos.
            <br><br>
            <a id="b" class="fab fa-facebook fa-lg" href="https://www.facebook.com/Gamerstation-Serdan-112492897336989"></a> &nbsp;&nbsp;&nbsp;
            <a id="b" class="fab fa-instagram fa-lg" href="http://www.instagram.com"></a> &nbsp;&nbsp;&nbsp;
            <a id="b" class="fab fa-twitter fa-lg" href="http://www.twitter.com"></a> &nbsp;
        </div>
        <div class="col text-justify">
            <br> Copyright 2016-2021 roof&home.com <br>
            <br>
            Todos los derechos reservados.
          </div>
      </div>
    </div>
</footer>