#co
{
    margin-top: 7%;
    margin-right: 5%;
    margin-left: 5%;
}

#n
{
    background-color: black;
    opacity: 70%;
}

#fo
{
    margin-top: 5%;
}

#b
{
    text-decoration: none;
    color: white;
}