<br><br>
<div class="menu">
    <br>
    <div class="dropdown">
        <button class="perfil fas fa-sign-out-alt fa-lg" style="float:right; margin-right:10px; display: flex;"
            routerLink=""> Cerrar sesión</button>
        <button class="dropdown-toggle  text-light fa-lg" type="button" id="dropdownMenuButton1"
            data-bs-toggle="dropdown" aria-expanded="false">
            <i class="fas fa-user-circle" id="icono" *ngIf="im == ''"></i>
            <img class="rounded-circle text-light" src="{{im}}" id="imagenperfil" *ngIf="im != ''">
            Mi perfil
        </button>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
            <li><a class="dropdown-item fas fa-home fa-lg text-light" href="/cliente-catalogo/{{correo}}" id=it> Mis
                    propiedades</a></li>
            <br>
            <li><a class="dropdown-item fas fa-plus-circle fa-lg text-light" href="/agregar-casa/{{correo}}" id=it>
                    Agregar propiedad</a></li>
            <br>
            <li><a class="dropdown-item fas fa-user-edit fa-lg text-light" href="/editarPerfil/{{correo}}" id=it> Editar
                    mi perfil</a></li>
            <br>
            <li><a class="dropdown-item fas fa-file-invoice-dollar fa-lg text-light" href="/misGanancias/{{correo}}"
                    id=it> Mis ganancias</a></li>
            <br>
            <li><a class="dropdown-item fas fas fa-sign-out-alt fa-lg text-light" href="" id=it> Cerrar sesión</a></li>
        </ul>
        <span id="ubicacion" class="text-light">
            <button routerLink="" id="ub">Inicio</button>>
            <button routerLink="/iniciar-sesion" id="ub">Iniciar sesion</button>>
            <button routerLink="/cliente-catalogo/{{correo}}" id="ub">Mis propiedades</button>>
            <button routerLink="/misGanancias/{{correo}}" id="ub" style="color: cyan">Mis ganancias</button>
        </span>
    </div>
</div>


<div id="ta" class="content" style="padding: 24px;">
    <h3 class="text-center">Ganancias por reservaciones</h3>
    <div class="border-dark" fxLayout="row wrap" fxLayoutGap="24px grid">
        <table class="table table-hover border-dark">
            <thead class="border-dark">
                <tr>
                    <th scope="col">Datos de la casa</th>
                    <th scope="col">Fechas</th>
                    <th scope="col">Pagos por rentas</th>
                    <th scope="col">Ganancias totales por casa</th>
                </tr>
            </thead>
            <tbody>
                <tr class="table-active" *ngFor="let reserva of arrayObjetos">
                    <td>{{reserva.estado}}, {{reserva.municipio}}</td>
                    <td>
                        <ul>
                            <li *ngFor="let fecha of reserva.fecha">
                                {{fecha}}
                            </li>
                        </ul>
                    </td>
                    <td>
                        <ul>
                            <li *ngFor="let rentas of reserva.rentas">
                                {{rentas}}
                            </li>
                        </ul>
                    </td>
                    <td>$ {{reserva.total}}</td>
                </tr>
            </tbody>
        </table>
    </div>
    <h3 class="text-center">Tu total ganado: ${{total}}</h3>
</div>

<footer id="fo" class="bg-dark text-white">
    <div class="container">
        <div class="row row-cols-3">
            <div class="col">
                Contacta con nosotros.
                <br> <br>
                Celular: 5637091836.
                <br><br>
                Correo: roof&home@gmail.com
            </div>
            <div class="col">
                Siguenos.
                <br><br>
                <a id="b" class="fab fa-facebook fa-lg" href="https://www.facebook.com/Gamerstation-Serdan-112492897336989"></a> &nbsp;&nbsp;&nbsp;
                <a id="b" class="fab fa-instagram fa-lg" href="http://www.instagram.com"></a> &nbsp;&nbsp;&nbsp;
                <a id="b" class="fab fa-twitter fa-lg" href="http://www.twitter.com"></a> &nbsp;
            </div>
            <div class="col text-justify">
                <br> Copyright 2016-2021 roof&home.com <br>
                <br>
                Todos los derechos reservados.
            </div>
        </div>
    </div>
</footer>